* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    /* outline: 1px solid rgb(71, 71, 71); */
    background-color: rgb(212, 212, 212);
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.6);
}

.header h1 {
    position: absolute;
    left: 0;
    margin-left: 20px;
}

.header .open-modal {
    margin: 20px;
    padding: 16px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 6px;
    cursor: pointer;
    border: 0;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* gap: 12px; */
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.form-input label {
    font-weight: bold;
}

.form-input input {
    border: 1px solid #5e5e5e;
    border-radius: 6px;
    width: 65%;
    padding: 8px 4px 8px 12px;
    margin: 6px;
}

.form-input.error input {
    border-color: #ff0000;
}

.form-input.error small {
    color: #ff0000;
    visibility: visible;
}

.form-input small {
    visibility: hidden;
}

.form-input.success input {
    border: 1px solid green;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-container.modal-hidden {
    display: none;
}

.modal {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    animation-name: modalopen;
    animation-duration: 1s;
    padding: 30px;
    border-radius: 6px;
}

.modal .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    border: 0;
    margin: 6px;
}

.modal-header {
    margin-bottom: 18px;
    text-align: center;
    padding: 15px;
}

.container {
    display: flex;
    padding: 20px;
}

.container .card {
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: repeat(4, 60px);
    background-color: rgb(212, 212, 212);
    border-radius: 6px;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.6);
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.read {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.read .hidden {
    display: none;
}

.read small {
    color: #ff0000;
}

.read p {
    font-weight: bold;
}

input[type="radio"] {
    display: none;
}

.read label {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgb(212, 212, 212);
    color: rgb(0, 0, 0);
    border-radius: 25px;
    cursor: pointer;
    margin: 10px;
}

input[type="radio"]:checked + label {
    background-color: #3c3;
    color: rgb(0, 0, 0);
}

.add-book {
    background: transparent;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    background-color: rgb(212, 212, 212);
    padding: 12px;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
